{#
  We add this language selector because the one in the ReadTheDocs badge is
  not very visible and a reader might miss that the content is available
  in their language if we don't make it more prominent;
  https://github.com/readthedocs/readthedocs.org/issues/9957
#}

<div class="dropdown">
  <button class="btn dropdown-toggle"
          type="button"
          id="lang-icon-button"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
    <img src="{{ pathto('_static/icon128px-exported-black.png', 1) }}"
         width="30"
         height="30">
    {{ current_lang }}
  </button>
  <div class="dropdown-menu" aria-labelledby="lang-icon-button">
    {% for lang in lang_links %}
      <a class="dropdown-item lang-text"
         {# pathto('', True) is a relative path to the top build directory  (whose name is
           the 2-letter code of the current language. #}
         href="{{ pathto('', True) }}../{{ lang.code }}/{{ pagename }}.html">
          {{ lang.name }}
      </a>
    {% endfor %}
  </div>
</div>
